@import url(../accessories.css);

.navbar {
    background: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-color);
    padding: 10px;
}

.navbar-home {
    color: var(--font-color);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    font-size: large;
}

.navbar-home:hover {
    color: white;
}

.navbar-items {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.navbar-item {
    color: var(--font-color);
    text-decoration: none;
    padding: 10px;
}

.navbar-item:hover {
    color: white;
}