@import url(../accessories.css);

.thought {
    display: flex;
    flex-direction: column;
    background: var(--primary);
    border: 3px solid var(--primary);
    border-radius: 10px;
    padding: 25px;
    margin: 15px 0;
}

.thought-content {
    padding-bottom: 25px;
    font-weight: bold;
}

.thought-flex {
    display: flex;
    justify-content: space-between;
}