@import url(../accessories.css);

.thought-container {
    display: grid;
}

/* === DASHBOARD SEARCH STYLING === */
.thought-container-search > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}

/* Search input */
.thought-container-search > form > input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 230px;
    margin-bottom: 10px;
}

.thought-container-search > form > input:hover {
    transform: scale(1.01);
    transition: 0.2s;
}

/* Dashboard Search Buttons */
.thought-container-search-btns > button {
    padding: 10px;
    border: solid 2px var(--background-color);
    border-radius: 10px;
    margin: 0px 5px;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.2s;
}

/* Dashboard Search Button */
.thought-container-search-button {
    background-color: var(--info);
}

.thought-container-search-button:hover {
    border-color: var(--info);
    background-color: var(--background-color);
    color: var(--hover-color);
}

/* Dashboard Clear Button */
.thought-container-clear-button {
    background-color: var(--warning);
}

.thought-container-clear-button:hover {
    border-color: var(--warning);
    background-color: var(--background-color);
    color: var(--hover-color);
}
