@import url(../accessories.css);

.a {
    background-color: var(--primary);
    padding: 15px;
}

.b {
    background-color: var(--background-color);
    padding: 15px;
}

.c {
    background-color: var(--dark-font-color);
    padding: 15px;
}

.d {
    background-color: var(--danger);
    padding: 15px;
}

.e {
    background-color: var(--info);
    padding: 15px;
}

.f {
    background-color: var(--success);
    padding: 15px;
}

.g {
    background-color: var(--warning);
    padding: 15px;
}