@import url(../accessories.css);

.subheading {
    text-align: center;
    margin-bottom: 25px;
}

.about-text {
    margin: 0px 20px;
    margin-bottom: 35px;
}

.section-heading {
    margin: 10px;
}

.home-thought-display {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.button.home-thought-btn {
    background-color: var(--info);
    justify-content: center;
}

.button.home-thought-btn:hover {
    background-color: var(--background-color);
    border: 2px solid var(--info);
}