:root {
    /* Colors: */
    --primary: #F5F5F5;
    --background-color: #EFE9F5;
    --font-color: #0E1221;
    --hover-color: #6e738f;
    --danger: #fa9ca0;
    --info: #b8c3f9;
    --success: #a2df7c;
    --warning: #f6f9b0;
   

    /* Fonts */
    --text-font: 'Lora', serif;
    --heading-font: 'Nunito', sans-serif;
    --title-font: 'Shadows Into Light', cursive;
}