:root {
    /* Colors:
    
    #C0BBC4*/
    --primary: #BFC1D9;
    --background-color: #EFE9F5;
    --dark-font-color: #0E1221;
    --light-font-color: #f9f1e6;
    --danger: #C74B4A;
    --info: #4091C7;
    --success: #67C784;
    --warning: #C6B86A;
   

    /* Fonts */
    
}