:root {
    /* Colors:
    
    #C0BBC4
    #BFC1D9
    
    --primary: #E1E3FA;
    --background-color: #EFE9F5;
    --dark-font-color: #0E1221;
    --light-font-color: #f9f1e6;
    --danger: #C74B4A;
    --info: #4091C7;
    --success: #67C784#DBF5D0;
    --warning: #C6B86A;*/
    --primary: #F5F5F5;
    --background-color: #EFE9F5;
    --dark-font-color: #0E1221;
    --light-font-color: #f9f1e6;
    --danger: #fa9ca0;
    --info: #b8c3f9;
    --success: #a2df7c;
    --warning: #f3f78a;
   

    /* Fonts */
    --text-font: 'Lora', serif;
    --heading-font: 'Nunito', sans-serif;
    --title-font: 'Shadows Into Light', cursive;
}