@import url(/src/styles/accessories.css);

* {
  margin: 0px;
  padding: 0px;
}

body {
	background-color: var(--background-color);
	color: var(--font-color);
}

h1, h2 {
	text-align: center;
    margin: 15px;
}

.btns {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}

.button {
	padding: 10px;
    border: solid 2px #F1EEFF;
    border-radius: 10px;
    margin: 0px 5px;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.2s;
	text-decoration: none;
}

/* === SCROLLBAR === */
::-webkit-scrollbar {
	width: 12px;
}
  
::-webkit-scrollbar-track {
	background: var(--background-color);
}
  
::-webkit-scrollbar-thumb {
	background: var(--primary);
	border-radius: 15px;
	border: 3px solid var(--background-color);
}


.loading {
	transform: scale(1);
	animation: pulse 1s infinite;
}

@keyframes pulse {
	0% {
		opacity: 1;
        transform: scale(1);
	}
	50% {
		opacity: 0.6;
        transform: scale(0.998);
	}
	100% {
		opacity: 1;
        transform: scale(1);
	}
}